.main {
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
  padding: 0 20px 73px 0;

  &_block {
    display: flex;
    
    &__recent_posts {
  
      &__input_block {
        display: none;
      }
  
      &_title {
        margin: 0 0 10px;
        font-weight: 300;
        font-size: 32px;
        line-height: 44px;
        color: #22252E;
      }
  
      &__list {
        margin: 0 0 40px 0;
        padding: 0;
        list-style-type: none;
  
        &_block {
          display: flex;
          box-sizing: border-box;
          padding-bottom: 30px;
          border-bottom: 1px solid #EBECED;
          margin-top: 30px;
  
          &__container {
            margin-left: 30px;
          }
  
          &__title {
            margin: 0 0 7px;
            font-weight: 300;
            font-size: 24px;
            line-height: 34px;
            color: #22252E;
          }
  
          &_author {
            margin-right: 12px;
            font-size: 14px;
            line-height: 22px;
            color: #323642;
          }
  
          &__event {
            font-size: 14px;
            line-height: 22px;
            color: #889099;
            border-left: 1px solid #889099;
            padding-left: 10px;
          }
  
          &__text {
            margin: 8px 0 12px 0;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: #4CB649;
          }
        }
      }
  
      &_older_btn {
        width: 260px;
        height: 40px;
        padding: 11px 0 11px 0;
        margin: 0 auto;
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        color: #4CB649;;
        border: 1px solid #4CB649;
        border-radius: 20px;
        background-color: transparent;
        cursor: pointer;
  
        &:hover {
          color: white;
          background-color: #4CB649
        }
      }
    }
  
    &__blog {
      margin: 0 0 0 20px;
      padding-left: 59px;
      box-sizing: border-box;
      border-left: 1px solid #EBECED;
    }
   
    &__input_block,
    &__recent_posts__input_block {
      position: relative;
      margin-bottom: 32px;
    }
  
    &__input_svg {
      position: absolute;
      top: 21px;
      left: 20px;
    }
  
    &__search_input {
      width: 340px;
      height: 59px;
      padding: 16px 0 15px 58px;
      box-sizing: border-box;
      border: 1px solid #EBECED;
    }
    
   
    &__container:last-of-type {
      margin: 43px 0 32px 0;
  
    }
  
    &__container_title__block {
      display: flex;
      align-items: center;
      margin-bottom: 35px;
    }
  
    &__container_svg {
      margin-right: 20px;
    }
  
    &__container_text::before,
    &__container_text::before {
      content: ' \25CF';
      color: #4CB649;
      font-size: 14px;
      margin-right: 5px;
    }
  
    &__container_text,
    &__container_text {
      line-height: 22px;
      color: #323642;
      margin: 0 0 16px;
    }
  
    &__announcements_container__text {
      margin: 0 ;
      padding-bottom: 28px;
      border-bottom: 1px solid #EBECED;
    }
  
    
    &__popular_posts__container_text {
      margin: 0 ;
      padding-bottom: 32px;
      border-bottom: 1px solid #EBECED;
    }
  
    &__tag_title {
      margin: 51px 0 15px 0;
      font-weight: 300;
      font-size: 24px;
      line-height: 34px;
      color: #22252E;
    }
  }
}

@media (min-width:768px) and (max-width:1150px) {
  .main {
    min-width: auto;
    margin: 0 20px;
    padding: 0;

    &_block {
      display: block;

      &__search_input {
        width: 100%;
      }

      &__recent_posts {
        margin-bottom: 71px;

        &__input_block {
          display: block;
        }

        &__list_block {
          display: block;
          margin: 0;
        }

        &_title {
          margin: 0 0 20px;
        }

        &__img {
          width: 100%;
        }

        &__input_block {
          margin: 40px 0 40px 0;
        }

        &_older_btn {
          width: 315px;
        }

        &__list {
          margin: 0;
          padding: 0;

          &_block {
            margin: 20px 0 0 20px;
            padding-bottom: 40px;

            &__title {
              margin: 20px 0 12.35px 0;
            }

            &__container {
              margin: 0;
              height: auto;
              width: auto;
            }

            &__text {
              margin: 8px 0;
            }
          }
        }
      }

      &__input_block {
       display: none;
      }

      &__blog {
        margin: 0;
        padding: 0;
        border: none;
      }

      &__tag_title {
        margin: 60px 0 15px 0;
      }

      &__tag_img {
        width: 100%;
        margin-bottom: 70px;
      }

      &__announcements_container__text {
        padding-bottom: 30px;
      }

      &__img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width:768px) {
  .main {
    min-width: auto;
    margin: 26.2px 20px 69.38px 20px;
    padding: 0;

    &_block {
      display: block;

      &__search_input {
        width: 100%;
      }

      &__recent_posts__list_block {
        margin: 0;
      }

      &__recent_posts {
        margin-bottom: 71px;

        &__list {
          margin: 0;
          text-align: start;
        }

        &__list_block {
          display: block;
        }

        &_title {
          margin: 0 0 40px;
        }

        &__img {
          width: 100%;
        }

        &__input_block {
          display: block;
          margin: 40px 0 40px 0;
        }

        &_older_btn {
          width: 315px;
        }

        &__list {

          &_block {
            margin: 20px 0 60px 0;
            padding-bottom: 40px;

            &__title {
              margin: 20px 0 12.35px 0;
            }

            &__container {
              margin: 0;
              height: auto;
            }

            &__text {
              margin: 8px 0;
            }
          }
        }
      }

      &__input_block {
       display: none;
      }

      &__blog {
        margin: 0;
        padding: 0;
        border: none;
      }

      &__tag_title {
        margin: 60px 0 15px 0;
      }

      &__tag_img {
        width: 100%;
        height: 309px;
      }

      &__announcements_container__text {
        padding-bottom: 30px;
      }

      &__img {
        width: 100%;
        height: 420.62px;
      }
      
    }
  }
}