@import "./header.scss";
@import "./main.scss";
@import "./tvPost.scss";
@import "./navTagsBlock.scss";
@import "./mainBlock.scss";
@import "./priceBlock.scss";
@import "./footer.scss";

body {
  margin: 0;
  font-family: 'Roboto';
}

figure {
  margin: 0;
}
